<header>
    <a href="/"><h1>Paul Sermon</h1></a>
    
    <nav>
        <ul>    
        {% for page in collections['top-level'] | sortByOrder %}
            <li><a href="{{page.url}}">{{page.data.title}}</a></li>
        {% endfor %}

        <li><a href="https://substack.com/@meetplaylaugh" class="button">Substack</a></li>

        <li>
            <a href="https://buytickets.at/meetplaylaughsouthwalesimprov" class="button" target="_blank" rel="noopener">Join an Improv Workshop</a>
        </li>
        </ul>
    </nav>
</header>
