---
title: Paul Sermon - Comedy, Improv, and all the other hobbies
description: Personal site of Paul Sermon, Carmarthenshire based comedian, improviser, and all-round hobbyist.
---

{% if collections.blog | length > 0 %}
<h2>Latest Ramblings</h2>

<ul>
    {% for post in collections.blog %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a> - {{post.date|postDate}}
        </li>
    {% endfor %}
</ul>
{% endif %}


{% if collections.articles | length > 0 %}
<h3>Articles</h3>
<ul>
    {% for article in collections.articles %}
        <li>
            <a href="{{ article.url }}">{{ article.data.title }}</a>
        </li>
    {% endfor %}
</ul>
{% endif %}
